/*
* ____  __    __  __  ____  ____    ___  ___  ___ 
*( ___)(  )  (  )(  )(_  _)(  _ \  / __)/ __)/ __)
* )__)  )(__  )(__)(  _)(_  )(_) )( (__ \__ \\__ \
*(__)  (____)(______)(____)(____/()\___)(___/(___/
*
* Fluid Framework v1
* Created by: Ben Fairfax
*/
@charset "utf-8";
/* CSS Document */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
:root {
  /* To reference these defaults copy the commented variable at the end of each default */
  --main-color: #XXXXXX; /* var(--main-color); */
  --complementary-color: #XXXXXX; /* var(--complementary-color); */
  --secondary-color: #XXXXXX; /* var(--secondary-color); */
  --supporting-color: #XXXXXX; /* var(--supporting-color); */
  --heading-color: #XXXXXX; /* var(--heading-color); */
  --text-color: #XXXXXX; /* var(--text-color); */
  --link-color: #XXXXXX; /* var(--link-color); */
  --link-hover-color: #XXXXXX; /* var(--link-hover-color); */
  --font-size: XX; /* var(--font-size); */
  --font-family: "XXXXXX", san-serif, XXX; /* var(--font-family); */
}
html body {margin: 0; font-size: var(--font-size); font-family: var(--font-family); color: var(--text-color); line-height: 1.1rem;}
* {box-sizing: border-box;}
/* Typography */
h1 {font-size: 2rem; line-height: 2rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
h2 {font-size: 1.8rem; line-height: 1.8rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
h3 {font-size: 1.5rem; line-height: 1.5rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
h4 {font-size: 1.2rem; line-height: 1.2rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
h5 {font-size: 1.1rem; line-height: 1.1rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
h6 {font-size: 1rem; line-height: 1rem; margin: 5px 0 10px; color: var(--heading-color); font-weight: 500;}
p {margin: 0 0 .5rem; color: var(--text-color);}
a {color: var(--link-color); transition: .3s; text-decoration: none;}
a:hover {color: var(--link-hover-color);}
blockquote {border-left: 5px solid var(--secondary-color); margin-left: 20px; padding-left: 20px;}
.center {text-align:center;}
.right {text-align:right;}
/* Padding */
.pad-10 {padding:10px;}
.pad-20 {padding:20px;}
.pad-30 {padding:30px;}
.pad-40 {padding:40px;}
.pad-50 {padding:50px;}
.padh-10 {padding-left:10px; padding-right:10px;}
.padh-20 {padding-left:20px; padding-right:20px;}
.padh-30 {padding-left:30px; padding-right:30px;}
.padh-40 {padding-left:40px; padding-right:40px;}
.padh-50 {padding-left:50px; padding-right:50px;}
.padv-10 {padding-top:10px; padding-bottom:10px;}
.padv-20 {padding-top:20px; padding-bottom:20px;}
.padv-30 {padding-top:30px; padding-bottom:30px;}
.padv-40 {padding-top:40px; padding-bottom:40px;}
.padv-50 {padding-top:50px; padding-bottom:50px;}
/* 
Rows | Flex
  - Add flex-full before row to obtain a flex row
*/
.flex {display:flex; flex-wrap: nowrap; margin: 0;}
.flex-full {display:flex; flex-wrap: nowrap; width:100%; margin: 0;}
.inline-flex {display:inline-flex; flex-wrap: nowrap; margin: 0;}
.row {max-width: 1130px; width: 100%; margin: 0 auto;}
.row:after, .row:before {content: ' '; display: table;}
.row:after {clear: both;}
/* 
Flex Defaults
 - flex-direction: row;
 - flex-wrap: nowrap;
 - justify-content: flex-start;
 - align-items: stretch;
 - align-content: stretch;
 - align-self: auto;
*/
/* Flex Row Custom Settings */
.fd-col {flex-direction: column;}
.wrap {flex-wrap: wrap;}
/* 
Justify Content
  - Spacing of flex items along the horizontal axis of the container
*/
.jc-fs {justify-content: flex-start;}
.jc-fe {justify-content: flex-end;}
.jc-c {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around;}
/*
Align Items
  - Spacing of flex items along the vertical axis of the container
*/
.ai-fs {align-items: flex-start;}
.ai-fe {align-items: flex-end;}
.ai-c {align-items: center;}
.ai-s {align-items: stretch;}
.ai-bl {align-items: baseline;}
/*
Align Content
  - Spacing of flex items along the cross axis of the container
*/
.ac-fs {align-content: flex-start;}
.ac-fe {align-content: flex-end;}
.ac-c {align-content: center;}
.ac-sb {align-content: space-between;}
.ac-sa {align-content: space-around;}
/*
Align Self
  - Overrides current flex item spacing set by parent container
*/
.as-fs {align-self: flex-start;}
.as-fe {align-self: flex-end;}
.as-c {align-self: center;}
.as-bl {align-self: baseline;}
.as-s {align-self: stretch;}
/*
Column Sizing
  - desktop = Desktops 992px and above
  - tablet = Tablets 991px and below
  - phonel = Phone Landscape 787px and below
  - phonep = Phone Portrait 479px and below
*/
.desktop-12 {width: 100%;}
.desktop-11 {width: 91.6%;}
.desktop-10 {width: 83.3%;}
.desktop-9 {width: 75%;}
.desktop-8 {width: 66.6%;}
.desktop-7 {width: 58.3%;}
.desktop-6 {width: 50%;}
.desktop-5 {width: 41.6%;}
.desktop-4 {width: 33.3%;}
.desktop-3 {width: 25%;}
.desktop-2 {width: 16.6%;}
.desktop-1 {width: 8.3%;}
/* Form Defaults */
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {display: block; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.4375rem; margin: 0 0 1rem; padding: 0.5rem; border: 1px solid #cacaca; border-radius: 3px; background-color: #fefefe; -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); font-family: inherit; font-size: 1rem; font-weight: normal; line-height: 1.5; color: #0a0a0a; -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {outline: none; border: 1px solid #8a8a8a; background-color: #fefefe; -webkit-box-shadow: 0 0 5px #cacaca; box-shadow: 0 0 5px #cacaca; -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; }
textarea {max-width: 100%; resize:vertical; height: auto;}
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {background-color: #e6e6e6; cursor: not-allowed;}
[type='submit'], [type='button'] {-webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 3px;}
input[type='search'] {-webkit-box-sizing: border-box; box-sizing: border-box;}
::placeholder {color: #cacaca;}
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem;}
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; vertical-align: baseline; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0;}
[type='checkbox'] + label[for], [type='radio'] + label[for] {cursor: pointer;}
label > [type='checkbox'], label > [type='radio'] { margin-right: 0.5rem;}
[type='file'] {width: 100%;}
label {display: block; margin: 0; font-size: 0.875rem; font-weight: normal; line-height: 1.8; color: #0a0a0a;}
label.middle {margin: 0 0 1rem; padding: 0.5625rem 0;}
fieldset {margin: 0; padding: 0; border: 0;}
legend {max-width: 100%; margin-bottom: 0.5rem;}
.fieldset {margin: 1.125rem 0; padding: 1.25rem; border: 1px solid #cacaca;}
.fieldset legend {margin: 0; margin-left: -0.1875rem; padding: 0 0.1875rem;}
select {height: 2.4375rem; margin: 0 0 1rem; padding: 0.5rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #cacaca; border-radius: 3px; background-color: #fefefe; font-family: inherit; font-size: 1rem; font-weight: normal; line-height: 1.5; color: #0a0a0a; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>"); background-origin: content-box; background-position: right -1rem center; background-repeat: no-repeat; background-size: 9px 6px; padding-right: 1.5rem; -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;}
@media screen and (min-width: 0\0) {select {background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");}}
select:focus {outline: none; border: 1px solid #8a8a8a; background-color: #fefefe; -webkit-box-shadow: 0 0 5px #cacaca; box-shadow: 0 0 5px #cacaca; -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;}
select:disabled {background-color: #e6e6e6; cursor: not-allowed;}
select::-ms-expand {display: none;}
select[multiple] {height: auto; background-image: none;}
/*
Aspect Ratios
  - These will apply the aspect ratio from the parent container width to their child element
*/
.aspect-16x9 {height: 0; position: relative; padding-bottom: 56.25%;}
.aspect-9x16 {height: 0; position: relative; padding-bottom: 177.77%;}
.aspect-4x3 {height: 0; position: relative; padding-bottom: 75%;}
.aspect-3x4 {height: 0; position: relative; padding-bottom: 133.33%;}
.aspect-6x4 {height: 0; position: relative; padding-bottom: 66.6%;}
.aspect-4x6 {height: 0; position: relative; padding-bottom: 150%;}
.aspect-8x5 {height: 0; position: relative; padding-bottom: 62.5%;}
.aspect-5x8 {height: 0; position: relative; padding-bottom: 160%;}
.aspect-7x5 {height: 0; position: relative; padding-bottom: 71.42%;}
.aspect-5x7 {height: 0; position: relative; padding-bottom: 140%;}
.aspect-1x1 {height: 0; position: relative; padding-bottom: 100%;}
.aspect-16x9 div, .aspect-16x9 iframe, .aspect-16x9 object,
.aspect-9x16 div, .aspect-9x16 iframe, .aspect-9x16 object,
.aspect-4x3 div, .aspect-4x3 iframe, .aspect-4x3 object,
.aspect-3x4 div, .aspect-3x4 iframe, .aspect-3x4 object,
.aspect-6x4 div, .aspect-6x4 iframe, .aspect-6x4 object,
.aspect-4x6 div, .aspect-4x6 iframe, .aspect-4x6 object,
.aspect-8x5 div, .aspect-8x5 iframe, .aspect-8x5 object,
.aspect-5x8 div, .aspect-5x8 iframe, .aspect-5x8 object,
.aspect-7x5 div, .aspect-7x5 iframe, .aspect-7x5 object,
.aspect-5x7 div, .aspect-5x7 iframe, .aspect-5x7 object,
.aspect-1x1 div, .aspect-1x1 iframe, .aspect-1x1 object 
{position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 10;}
/*
Responsive Table
  - This will make all tables readable and scaleable
*/
.table-wrapper {overflow-x:auto;}
table {width: 100%;}
table thead {background-color:#dbdbdb; font-size:1.1rem; font-weight:bold;}
table tr:nth-child(even) {background: #f2f2f2;}
/* Modal Defaults */
[data-modal] {display:none; position:fixed; top:0; left:0; right:0; bottom:0; background: rgba(255,255,255,.75); overflow: auto;}
.modal-wrapper {height:100%; width:100%; padding-top:50px; display:flex; justify-content:center; align-items:flex-start;}
[data-open-modal], .close-modal {cursor:pointer;}
/*
Navigation Dropdown Menu
  - This will make any ul li ul dropdown on hover
*/
.navigation {max-width:100%; background: var(--secondary-color);}
.navigation .nav-toggle {display:none; text-align:right;}
.navigation .nav-toggle::before {display:inline-block; content: '≡'; font-size:2rem; color:#333; line-height:1rem; padding:1rem; font-weight:bold;}
.navigation ul {list-style:none; margin: 0; padding-left: 0;}
.navigation ul:first-of-type {display:flex; flex-wrap: wrap;}
.navigation li {color: var(--link-color); background-color: var(--secondary-color); display: block; float: left; padding: .5rem; position: relative; transition: 0.3s;}
.navigation li a {color: var(--link-color); text-decoration: none;}
.navigation li:hover {background-color: var(--link-hover-color); cursor: pointer;}
.navigation ul li ul {background-color: var(--secondary-color); visibility: hidden; opacity: 0; min-width: 5rem; position: absolute; transition: all 0.3s ease; margin-top: .5rem; left: 0; display: none;}
.navigation ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover {visibility: visible; opacity: 1; display: block; background-color: rgba(0,0,0,.2);}
.navigation ul li ul li {clear: both; width: 100%;}
/*
Breadcrumbs
  - This structures out the breadcrumbs list with spacers
*/
.breadcrumbs {max-width:100%; background-color: var(--complementary-color);}
.breadcrumbs ul>*:before {content: "//"; color:  var(--secondary-color); margin: 0px 15px;}
.breadcrumbs ul>*:first-child:before {content: " "; margin: 0;}
.breadcrumbs ul {list-style:none; margin: 0; padding-left: 0;}
.breadcrumbs li {color: var(--link-color); display: block; float: left; padding: .2rem; position: relative;}
.breadcrumbs li a {color: var(--link-color); transition: 0.3s;}
.breadcrumbs li a:hover {color: var(--link-hover-color); cursor: pointer;}
/*
Buttons
*/
.button {background-color: var(--main-color); box-shadow:inset 0 0 0 2rem var(--complementary-color); border:2px solid var(--complementary-color); padding:1rem; font-size:16px; font-family:sans-serif; transition:.3s; color: var(--link-color);}
.button:focus {outline:none;}
.button:hover {box-shadow:inset 0 0 0 0rem; color: var(--complementary-color);}
/* 
Tablet Width | 991px - 768px
*/
@media only screen and (max-width: 991px) {
.tablet-12 {width: 100%;}
.tablet-11 {width: 91.6%;}
.tablet-10 {width: 83.3%;}
.tablet-9 {width: 75%;}
.tablet-8 {width: 66.6%;}
.tablet-7 {width: 58.3%;}
.tablet-6 {width: 50%;}
.tablet-5 {width: 41.6%;}
.tablet-4 {width: 33.3%;}
.tablet-3 {width: 25%;}
.tablet-2 {width: 16.6%;}
.tablet-1 {width: 8.3%;}
.navigation ul {display:none;}
.navigation li {padding: .5rem 0;}
.navigation ul li {width:100%; float:none; text-align:center;}
.navigation ul li ul {position:relative; text-align:center;}
.navigation .nav-toggle {display:block;}
}
/*
Phone Landscape Width | 767px - 480px
*/
@media only screen and (max-width: 767px) {
.phonel-12 {width: 100%;}
.phonel-11 {width: 91.6%;}
.phonel-10 {width: 83.3%;}
.phonel-9 {width: 75%;}
.phonel-8 {width: 66.6%;}
.phonel-7 {width: 58.3%;}
.phonel-6 {width: 50%;}
.phonel-5 {width: 41.6%;}
.phonel-4 {width: 33.3%;}
.phonel-3 {width: 25%;}
.phonel-2 {width: 16.6%;}
.phonel-1 {width: 8.3%;}
}
/*
Phone Portrait Width | 479px - 240px
*/
@media only screen and (max-width: 479px) {
.phonep-12 {width: 100%;}
.phonep-11 {width: 91.6%;}
.phonep-10 {width: 83.3%;}
.phonep-9 {width: 75%;}
.phonep-8 {width: 66.6%;}
.phonep-7 {width: 58.3%;}
.phonep-6 {width: 50%;}
.phonep-5 {width: 41.6%;}
.phonep-4 {width: 33.3%;}
.phonep-3 {width: 25%;}
.phonep-2 {width: 16.6%;}
.phonep-1 {width: 8.3%;}
}